* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.formContainer {
  display: flex;
  height: 100vh;
  background-color: #88c5ff;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    h2 {
      padding: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 20px;

      input {
        width: 18rem;
        border: none;
        border-bottom: 1px solid #88c5ff;
        padding: 10px;
        &::placeholder {
          color: #6e6767;
          font-size: 13px;
        }
      }
      label {
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #6e6767;
        font-size: 15px;
        cursor: pointer;
      }

      button {
        border: none;
        border-bottom: 1px solid #88c5ff;
        background-color: hsl(209, 92%, 66%);
        font-weight: 700;
        padding: 10px;
      }

      input[type="file"],
      button {
        cursor: pointer;
      }
    }
  }
  p {
    font-weight: 400;
    margin: 5px;
    font-size: 18px;
  }
}
